@model ShopApp.WebUI.Models.AddProductModel
@{
    ViewData["Title"] = "CreateProdcut";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">
    <br />
    <h3>Create Prodcut</h3>
    <br />
    <hr />
    <div class="row">
        <div class="col-md-8">
            <form asp-controller="admin" asp-action="CreateProduct" method="post">
                <div class="form-group row">
                    <label asp-for="Name" class="col-md-2 col-form-label"></label>
                    <div class="col-md-10">
                        <input asp-for="Name" value="" class="form-control" />
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-2 col-form-label" asp-for="ImageUrl"></label>
                    <div class="col-md-10">
                        <input asp-for="ImageUrl" value="" class="form-control" />
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-2 col-form-label" asp-for="Price"></label>
                    <div class="col-md-10">
                        <input asp-for="Price" value="" class="form-control" />
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-2 col-form-label" asp-for="Gender"></label>
                    <div class="col-md-10">
                        <input asp-for="Gender" value="" class="form-control" />
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-2 col-form-label"></label>
                    <div class="col-md-10 offset-md-2">
                        <button type="submit" value="" class="btn btn-primary">Save Product</button>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>

