@model ShopApp.WebUI.Models.CategoryListViewModel

@foreach (var item in Model.kategoriler)
{
    <div class="card-body">
        <ul>
            <li><a href="#">@item.Name</a></li>
        </ul>
    </div>
}

