<section class="categories">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 p-0">
                <div class="categories__item categories__large__item set-bg"
                     data-setbg="/theme/img/product/pigcanfly72_anthropomorphic_blue_owl_big_green_eyes_lots_of_det_9a7eca7e-1b2c-4e8b-8509-6b011ff8190e.png">
                    <div class="categories__text">
                  
                
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 p-0">
              
                        <div class="categories__item set-bg" data-setbg="/theme/img/product/orlando_grech_two_dragons_fight_each_other_jordan_kerwick_paint_64608c22-67a4-4690-a76b-572720bc73c4.png">
                            <div class="categories__text">
                               
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 p-0">
                        <div class="categories__item set-bg" data-setbg="/theme/img/product/grid_0_1.png">
                            <div class="categories__text">
                               
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 p-0">
                        <div class="categories__item set-bg" data-setbg="/theme/img/product/almostreturned.png">
                            <div class="categories__text">
                               
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 p-0">
                        <div class="categories__item set-bg" data-setbg="/theme/img/product/nirvana.png">
                            <div class="categories__text">
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>