@model ShopApp.WebUI.Models.ResultMessage

<div class="col-md-8" style="text-align:center;margin:auto;width:500px;margin-top:70px 0px 0px 0px >
    <div class="row">

        <div class="alert alert-@Model.Css">
            <h4 class="alert alert-titile">@Model.Title</h4>
            <p>@Model.Message</p>
        </div>

    </div>
</div>