@model ShopApp.WebUI.Models.LoginModel
@{
    ViewData["Title"] = "ForgotPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">
    <br />
    <h3>Forgot Password</h3>
    <br />
    <hr />
    @section  Scripts{
        <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    }


        <div class="row">
            <div class="col-md-8">
                <form asp-controller="Account" asp-action="ForgotPassword" method="post">

                    <div class="form-group row">
                        <label class="col-md-2 col-form-label">Email</label>
                        <div class="col-md-10">
                            <input type="text" name="Email" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-2 col-form-label"></label>
                        <div class="col-md-10 offset-md-2">
                            <button type="submit" value="" class="btn btn-primary">Submit</button>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>

